<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ company_id }} 주식 차트</title>
    <!-- APEXCharts CDN -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
    <h1>{{ company_id }} 주식 차트</h1>

    <div id="chart" style="width: 100%; height: 350px;"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Django에서 전달된 데이터를 JavaScript 변수에 할당
            var dates = {{ dates|safe }};
            var avgPrices = {{ avg_prices|safe }};

            var options = {
                chart: {
                    type: 'line',
                    height: 350
                },
                series: [{
                    name: 'Average Price',
                    data: avgPrices
                }],
                xaxis: {
                    categories: year(dates),
                    title: {
                        text: 'Date'
                    }
                },
                yaxis: {
                    title: {
                        text: 'Average Price'
                    }
                },
                title: {
                    text: '{{ company_id }} 주식 평균 가격',
                    align: 'center'
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        });
    </script>
</body>
</html>
