<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static 'css/chartstyle.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="http://127.0.0.1:8000">Moneyweaver</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> 
            
            
            <!-- Navbar Search-->
            <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form> -->
            <!-- Navbar-->
            <!-- <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000">Home</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul> -->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="http://127.0.0.1:8000/chart/index/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                주식차트
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <!-- 삼성그룹 -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Samsung Group
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/ssElec/">삼성 전자</a>
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/ssSDS/">삼성 SDS</a>
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/ssSDI/">삼성 SDI</a>
                                </nav>
                            </div>
                            <!-- 현대그룹 -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Hyundai Group
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/hyundai/">현대 자동차</a>
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/hyundaiauto/">현대 오토</a>
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/hyundaidp/">현대 백화점</a>
                                </nav>
                            </div>
                            <!-- sk그룹 -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                SK Group
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/skinc/">SK I&C</a>
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/skhynix/">SK 하이닉스</a>
                                
                                </nav>
                            </div>
                            
                            
                            <!-- Posco Group -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Posco Group
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="http://127.0.0.1:8000/chart/index/naver/">포스코</a>
                                    <a class="nav-link" href="register.html">포스코 DX</a>
                                </nav>
                            </div>
                            <!-- 네이버 -->
                            <a class="nav-link" href="http://127.0.0.1:8000/chart/index/naver/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Naver
                            </a>
                            <!-- LG -->
                            <a class="nav-link" href="http://127.0.0.1:8000/chart/index/lg/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                LG
                            </a>
                            <!-- 신세계 I&C -->
                            <a class="nav-link" href="http://127.0.0.1:8000/chart/index/ssgInC/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                신세계 I&C
                            </a>
                            <!-- kt -->
                            <a class="nav-link" href="http://127.0.0.1:8000/chart/index/kt/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Kt
                            </a>
                            <!-- lotte -->
                            <a class="nav-link" href="http://127.0.0.1:8000/chart/index/lotteino/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Lotte 이노베이트
                            </a>
                            <!-- 한화시스템 -->
                            <a class="nav-link" href="http://127.0.0.1:8000/chart/index/hanhwasys/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Hanhwa System
                            </a>
                            <!-- 기업차트 외 나머지 페이지 -->
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <!-- <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div> -->
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">주식 차트</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <!-- 여기서부터 추가 -->
                        <!-- <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <!-- <i class="fas fa-chart-area me-1"></i> -->
                                        예측 점수
                                    </div>
                                    <div class="card-body">
                                        <canvas id="confusionMatrixChart" width="100%" height="40"></canvas>
                                    </div>
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js 라이브러리 추가 -->
                                    <script>
                                        var ctx = document.getElementById('confusionMatrixChart').getContext('2d');
                                
                                        var confusionMatrix = {
                                            labels: ['Predicted 0', 'Predicted 1'],
                                            datasets: [{
                                                label: 'Actual 0',
                                                data: [170, 170],
                                                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                                                borderColor: 'rgba(75, 192, 192, 1)',
                                                borderWidth: 1
                                            },
                                            {
                                                label: 'Actual 1',
                                                data: [157, 175],
                                                backgroundColor: 'rgba(153, 102, 255, 0.6)',
                                                borderColor: 'rgba(153, 102, 255, 1)',
                                                borderWidth: 1
                                            }]
                                        };
                                
                                        var config = {
                                            type: 'bar',
                                            data: confusionMatrix,
                                            options: {
                                                scales: {
                                                    x: {
                                                        stacked: true
                                                    },
                                                    y: {
                                                        stacked: true,
                                                        beginAtZero: true
                                                    }
                                                },
                                                plugins: {
                                                    datalabels: {
                                                        color: 'black',
                                                        font: {
                                                            weight: 'bold'
                                                        },
                                                        formatter: function(value, context) {
                                                            return value;
                                                        }
                                                    }
                                                }
                                            }
                                        };
                                
                                        var confusionMatrixChart = new Chart(ctx, config);
                                    </script>
                                </div>
                                



                                
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <!-- <i class="fas fa-chart-bar me-1"></i> -->
                                        정확도 점수
                                    </div>
                                    <div class="card-body">
                                        <canvas id="myBarChart" width="100%" height="307"></canvas> <!-- div 대신 canvas로 변경 -->
                                    </div>
                                    
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js 라이브러리 추가 -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            var ctx2 = document.getElementById('myBarChart').getContext('2d');
                                    
                                            // Accuracy, Precision, Recall, F1-score 값
                                            var performanceMetrics = {
                                                labels: ['Accuracy', 'Precision', 'Recall', 'F1-score'],
                                                datasets: [{
                                                    label: 'Metrics',
                                                    data: [0.5134, 0.5072, 0.5272, 0.5170], // 성능 지표 데이터
                                                    backgroundColor: [
                                                        'rgba(255, 99, 132, 0.6)',
                                                        'rgba(54, 162, 235, 0.6)',
                                                        'rgba(255, 206, 86, 0.6)',
                                                        'rgba(75, 192, 192, 0.6)'
                                                    ],
                                                    borderColor: [
                                                        'rgba(255, 99, 132, 1)',
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(75, 192, 192, 1)'
                                                    ],
                                                    borderWidth: 1
                                                }]
                                            };
                                    
                                            var config = {
                                                type: 'bar',
                                                data: performanceMetrics,
                                                options: {
                                                    scales: {
                                                        y: {
                                                            beginAtZero: true,
                                                            ticks: {
                                                                stepSize: 0.1  // Y축에 소수점 단위로 설정
                                                            }
                                                        }
                                                    },
                                                    responsive: true,
                                                    maintainAspectRatio: false
                                                }
                                            };
                                    
                                            var myBarChart = new Chart(ctx2, config);
                                        });
                                    </script>
                                    
                                    <!-- <style>
                                        /* 차트 겹침 방지를 위한 CSS */
                                        .chartjs-render-monitor {
                                            display: none; /* 차트가 겹치지 않도록 숨기기 */
                                        }
                                    </style> -->
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                기업 정보
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>기업명</th>
                                            <th>대표자</th>
                                            <th>업종</th>
                                            <th>제품/사업</th>
                
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>기업명</th>
                                            <th>기업구분</th>
                                            <th>업종</th>
                                            <th>제품/사업</th>
                                          
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>삼성전자</td>
                                            <td>삼성 계열사, 코스피 상장</td>
                                            <td>이동전화기 제조업</td>
                                            <td>휴대폰,컴퓨터,네트워크시스템,핵심칩,반도체부품,디스플레이패널,가전제품,의료기기,프린터 제조</td>
                                           
                                        </tr>
                                        
                                        <tr>
                                            <td>삼성SDI</td>
                                            <td>삼성 계열사, 코스피 상장</td>
                                            <td>컴퓨터 프로그래밍 서비스업</td>
                                            <td>컴퓨터 프로그래밍,시스템 통합,관리/소프트웨어 개발/사무용기계장비 도매,컴퓨터임대</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>삼성SDS</td>
                                            <td>삼성 계열사, 코스피 상장</td>
                                            <td>축전지 제조업</td>
                                            <td>2차전지,전자재료 제조,판매</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>현대자동차</td>
                                            <td>현대자동차 계열사, 코스피 상장</td>
                                            <td>승용차 및 기타 여객용 자동차 제조업</td>
                                            <td>자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업/항공기,부속품 도소매/별정통신,부가통신/부동산 임대</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>현대오토</td>
                                            <td>중소기업</td>
                                            <td>그 외 기타 기계 및 장비 도매업</td>
                                            <td>산업용기계 및 임대</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>현대백화점</td>
                                            <td>현대백화점 계열사, 코스피 상장</td>
                                            <td>백화점</td>
                                            <td>사업, 재무(실적), 비재무, 연봉, 채용/팁</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>SK InC</td>
                                            <td>에스케이 계열사, 코스피 상장</td>
                                            <td>지주회사</td>
                                            <td>지주회사/시스템통합(SI), 정보통신사업 관련 컨설팅,조사용역,정보통신기술 연구개발/정보통신기기,소프트웨어 개발,도매</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>SK 하이닉스</td>
                                            <td>에스케이 계열사, 코스피 상장</td>
                                            <td>발광 다이오드 제조업</td>
                                            <td>반도체,컴퓨터,통신기기 제조,도매</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>포스코</td>
                                            <td>포스코 계열사</td>
                                            <td>제강업</td>
                                            <td>
                                                제강,제철,합금철,코크스,연탄,석유제품,화학물질,화학제품,철강압연,비철금속압연,압출,연신제품 제조</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>포스코 DX</td>
                                            <td>포스코 계열사, 코스피 상장</td>
                                            <td>기타 엔지니어링 서비스업</td>
                                            <td>IT,전기제어기술 엔지니어링/토목건축공사,산업환경설비공사/철도차량관련설비(신호시스템,PSD등) 제조,판매,수입,공사,유지보수</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>네이버</td>
                                            <td>네이버 계열사, 코스피 상장</td>
                                            <td>포털 및 기타 인터넷 정보매개 서비스업</td>
                                            <td>인터넷검색사이트 운영,인터넷방송,컨텐츠검색,고도정보통신서비스,게임컨텐츠제공,광고대행</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>LG</td>
                                            <td>엘지 계열사, 코스피 상장</td>
                                            <td>지주회사</td>
                                            <td></td>
                                           
                                        </tr>
                                        <tr>
                                            <td>신세계 I&C</td>
                                            <td>신세계 계열사, 코스피 상장</td>
                                            <td>컴퓨터시스템 통합 자문 및 구축 서비스업</td>
                                            <td>컴퓨터시스템 자문,구축,컴퓨터 프로그래밍,시스템 통합,구축운영,솔루션,IT기기 유통</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>KT</td>
                                            <td>케이티 계열사, 코스피 상장</td>
                                            <td>무선 및 위성 통신업</td>
                                            <td>유무선통신사업,공중전기통신사업,인터넷,전자상거래,네트워크(전용회선,데이터통신,초고속사업 등)</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>Lotte 이노베이트</td>
                                            <td>롯데 계열사, 코스피 상장</td>
                                            <td>컴퓨터 프로그래밍 서비스업</td>
                                            <td>
                                                컴퓨터 프로그래밍,컴퓨터시스템 자문,구축/소프트웨어 개발/전기공사,정보통신공사/컴퓨터,주변기기,통신기기 도소매</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>한화 시스템</td>
                                            <td>한화 계열사, 코스피 상장</td>
                                            <td>그 외 기타 전자부품 제조업</td>
                                            <td>정밀기기(육해공군관련전자제어시스템,열영상감시장비,탐지추적장치,전투지휘체계시스템) 제조</td>
                                           
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
