{% load static %}
{% load socialaccount %} <!-- 구글 로그인 하려구 추가한겨-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Moneyweaver</title>
        <!-- Favicon-->
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Moneyweaver</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li> -->
                        <!-- 로그인 바 추가했어욥 ! -->
                        <!-- {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/accounts/logout/" role="button">Log Out</a>
                        </li>
                        {% else %} 
                        <li class="nav-item"><a role="button" class="nav-link" href="{% provider_login_url 'google' %}">Login</a></li>
                        {% endif %} -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Helping you make smarter investment decisions.</h1>
                            <p class="lead text-white-50 mb-4"></p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">프로그램 소개</h2>
                        <p>본 프로그램은 실시간 주가와 기업 뉴스 분석을 통해 주가 상승/하락을 예측하는 AI 기반 프로그램입니다. LSTM 및 BERT와 같은 AI 알고리즘을 활용해 정확한 예측을 제공합니다.<br><br></p>
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">주가 예측</h2>
                        <p>인공지능(AI) 모델을 통해 주가의 상승 또는 하락을 예측한 결과를 제공합니다. 기업의 실시간 뉴스와 RSI 지표를 분석하여 시장 흐름을 파악하고, LSTM 모델을 활용해 데이터를 기반으로 한 정확한 예측을 수행합니다.</p>
                        <a class="text-decoration-none" href="/chart/index/">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">게시판</h2>
                        <p>사용자들이 주식 관련 정보와 의견을 자유롭게 나눌 수 있는 공간입니다. 주가 예측 결과에 대한 토론, 투자 전략 공유, 실시간 시장 뉴스 등 다양한 주제를 다룰 수 있습니다. 서로의 경험을 통해 시장에 대한 인사이트를 얻을 수 있습니다.</p>
                        <a class="text-decoration-none" href="/user">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
       
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>